:root{
    --bg-color: rgb(46, 45, 45);
    --fcw: white;
    --fcg: gray;
    --inter: 'Inter', serif;
    --manrope: 'Manrope', serif;
    --outfit: 'Outfit', serif;
    --poppins: 'Poppins', serif;
    --btn-color: white;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    margin-right: 0.5vw;
    margin-left: 0.5vw;
}

header{
    height: 8vh;
    margin: 1vh;
    border: 1px solid black;
}

.left-header{
    gap: 2.5vw;
}

.right-header{
    gap: 3vw;
}

.search-section>input{
    width: 25vw;
    border-radius: 0.5em;
}

button{
    background-color: var(--btn-color);
    font-family: var(--inter);
    font-weight: bold;
    height: 3em;
    width: 10em;
    border-radius: 5em;
}

#installApp{
    filter: invert(0.5);
}

#installApp:hover{
    color: var(--fcw);
    filter: invert(0);
}

main{
    margin: 1vh;
}

#library{
    height: 85vh;
    width: 20vw;
    flex-direction: column;
    margin-right: 0.5vw;
}

#left-top, #create-playlist, #browse-products{
    height: 50%;
    flex-direction: column;
    gap: 1.5vh;
}

#song-section{
    width: 80vw;
}

#left-bottom{
    height: 30%;
    flex-wrap: wrap;
}

#language{
    gap: 0.5vw;
}