:root{
    --bg-color: rgb(46, 45, 45);
    --fcw: white;
    --fcg: gray;
    --inter: 'Inter', serif;
    --manrope: 'Manrope', serif;
    --outfit: 'Outfit', serif;
    --poppins: 'Poppins', serif;
    --btn-color: white;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--manrope);
}

body{
    background-color: black;
    margin-right: 0.5vw;
    margin-left: 0.5vw;
}

header{
    position: fixed;
    height: 8vh;
    margin: 1vh;
    border: 1px solid black;
    gap: 10vw;
}

.left-header{
    gap: 2.5vw;
}

.right-header{
    gap: 3vw;
}

.search-section>input{
    width: 25vw;
    border-radius: 0.5em;
}

button{
    background-color: var(--btn-color);
    font-family: var(--inter);
    font-weight: bold;
    height: 3em;
    width: 10em;
    border-radius: 5em;
}

#installApp{
    filter: invert(0.5);
    gap: 0.3em;
}

#installApp:hover{
    color: var(--fcw);
    filter: invert(0);
}

main{
    position: fixed;
    top: 9vh;
    margin: 1vh;
}

#library{
    position: fixed;
    top: 10vh;
    height: 85vh;
    width: 20vw;
    flex-direction: column;
}

#library-heading{
    font-weight: 800;
    font-size: larger;
}

#left-top, #create-playlist, #browse-products{
    height: 50%;
    flex-direction: column;
    gap: 1.5vh;
}

#left-bottom{
    height: 30%;
    flex-wrap: wrap;
}

#language{
    gap: 0.5vw;
}

#song-section{
    flex-flow: column;
    width: 77.5vw;
    height: 85vh;
    overflow-y: auto;
    margin-left: 20.5vw;
}

.song-tiles:hover{
    box-shadow: 0.2em 0.2em 0.5em gray;
}

footer{
    flex-direction: column;
    position: absolute;
    bottom: 0;
    margin: 0vh 20vw;
    height: 11vh;
    width: 60%;
    border-top-left-radius: 5vw;
    border-top-right-radius:5vw;
    background: rgba(20, 20, 20, 0.95);
    border: 0.2em solid #21446A;
    border-bottom: none;
    box-shadow: 0 0.2em 10em 1em rgba(10, 57, 145, 0.6);
    padding-bottom: 2vh;
    filter: opacity(0.8);
}

.playbar:hover{
    box-shadow:  0 0 1em rgba(0, 85, 239, 1);
    filter: brightness(1.5);
}