:root{
    --bg-color: rgb(46, 45, 45);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* background-color: black; */
}

header{
    height: 5vh;
    margin: 1vh;
    border: 1px solid black;
}

button:hover{
    transition-duration: 450ms;
    transform: scale(1.1);
}

.left-header{
    gap: 2.5vw;
}

.right-header{
    gap: 3vw;
}

main{
    margin: 1vh;
    background: var(--bg-color);
}

.library{
    width: 25vw;
}

.right{
    width: 75vw;
}

.left-top{
    overflow-y: scroll;
}