/* Fonts available:
    Inter
    Manrope
    Outfit
    Poppins
 */

:root{
    --fcw: white;
    --fcg: gray;
    --inter: 'Inter', serif;
    --manrope: 'Manrope', serif;
    --outfit: 'Outfit', serif;
    --poppins: 'Poppins', serif;
    --btn-color: white;
}

.svg-small{
    height: 2.75vh;
    filter: invert(1);
}

.svg-mid{
    height: 4.2vh;
    filter: invert(1);
}

.flexbox{
    display: flex;
}

.jcc{
    justify-content: center;
}

.jcsb{
    justify-content: space-between;
}

.jcsa{
    justify-content: space-around;
}

.jcse{
    justify-content: space-evenly;
}

.aic{
    align-items: center;
}

.gray{
    color: var(--fcg);
}

.white{
    color: var(--fcw);
}

.grey-bg{
    filter: invert(0.5);
}

.inter{
    font-family: var(--inter);
}

.manrope{
    font-family: var(--manrope);
}

.outfit{
    font-family: var(--outfit);
}

.poppins{
    font-family: var(--poppins);
}

.bold{
    font-weight: bolder;
}

button{
    background-color: var(--btn-color);
    font-family: var(--inter);
    font-weight: bold;
    height: 3em;
    width: 10em;
    border-radius: 5em;
}

.hover:hover{
    transition-duration: 450ms;
    transform: scale(1.1);
}

.text-hover:hover{
    color: var(--fcw);
    filter: invert(0);
}

.grey-bg:hover{
    filter: invert(1);
}